html{
	margin:  0px;
	font-size: 14px;
	box-sizing: border-box;
	overflow: hidden;


}
body {
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;

	


}

.container {
	display: flex;
	background: white;
}

.sidebar{
	width: 240px;
	background-color: #fef1ff;
	height: 100vh ;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	overflow-y: hidden;

}

.account{
	display: flex;
	align-items: center;
	padding: 14px 15px;
	background-color: #fef1ff ;
	

}

.account:hover
{
	background-color: #ecd3ee ;
}

.username{
	font-size: 14px;
	padding: 0px 20px 0px 10px;
	
	font-weight: 500;
/*	height: 25px;
*/	position: center ;

}

.account img {
	border-radius: 2px;

}

.frame {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0px;


}

.topbar {
	display: flex;
	height: 45px;
	padding: 0px 20px;
	font-size: 14px;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: calc(100vw - 280px);
	background-color: white;
	z-index: 1;
}

.left-elements {
	padding: 4px 10px;
	border-radius: 4px;
}

.left-elements:hover {
	background-color: #f4f4f4;
	

}

.right-elements {
	display: flex;
	

}

.right-elements div {
	padding: 4px 10px;
	border-radius: 4px;

}

.right-elements div:hover {
	background-color: #f4f4f4;
}

.content-frame {
	position: relative;
	top: 45px;
	overflow: auto;
	height: calc(100vh - 45px);
}

.contents {
		
	padding: 50px 120px 0px;
		
/*		z-index: 0;
*/}

p {
	font-size: 16px;
	line-height: 24px;
}

.others {
margin-bottom: 25px;
}

.scrollable-menu {
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.new-page-button {
	margin-top:auto;
	padding: 10px 0px;
	border-top-style: solid;
	border-top-width:1px ;
	border-color:#ecd3ee;
}
.options {
	display: flex;
	padding: 2px 15px;
	min-height: 27px;
	align-items: center;
	color: #b674ba;
	font-weight: 500;
}

.options svg {
	padding-right: 12px;
	padding-left: 2px;
}

.options:hover
{
	background-color: #ecd3ee ;
}

.new-page-button:hover {
	background-color: #ecd3ee ;
}

::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background:  #cf89d3;
}

::-webkit-scrollbar-thumb:hover {
  background: #a776aa;
}
::-webkit-scrollbar-track {
    background: #ecd3ee;
}

h3 {
	font-size: 2rem;
}